
<h1><%= @restaurant.name.capitalize %></h1>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.phone_number %></p>
<p><%= @restaurant.category %></p>
<br>
<%= link_to "Go back", restaurants_path, class: "btn btn-primary" %>
<br>
<h3>Reviews:</h3>
<p>---------------------------</p>
<% @reviews.each do |r| %>
<p>Comment: <%= r.content %></p>
<p>Rating: <%= "*" * r.rating %></p>
<p>______________________</p>
<% end  %>

<!-- <p><%#= "*" * @reviews.stars %></p> -->

<%= link_to "Add Review", new_restaurant_review_path(@restaurant), class: "btn btn-success" %>
